@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
    @apply max-w-full;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-200;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}

